<p-toast></p-toast>
<div class="container-fluid">
  <div class="row tab-view">
    <div class="col-md-2 col-sm-3 ">
      <ul class="list-group mt-1">
        <ng-container *ngFor="let item of categories">
          <li *ngIf="item.enabled" class="list-group-item cursor-pointer" [ngClass]="{'active-product':item.active}"
            (click)="categoryFilter(item.id)">
            {{item.name}}</li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-10 col-sm-9">
      <div class="row">
        <ng-container *ngFor="let item of filteredProducts">
          <div class="card shadow m-1 card-width">
            <h5 class="card-title">{{item.name}}</h5>
            <div class="card-body prod-description">
              <img src="{{serverUri}}{{item.imageURL}}" class="card-img-top" height="70%" alt="...">
              <p class="card-text decription-text">{{item.description}}
              </p>
            </div>
            <div class="card-footer custom-card-footer d-flex justify-content-between price-btn">
              <h6 class="mt-3 ">MRP Rs {{item.price}}
              </h6>

              <button pButton pRipple type="button" class="text-right p-button-raised p-button-danger  btn-color"
                label="Buy Now" (click)="BuyNow(item.id)"></button>
            </div>
            <div class="m-2">

              <button class="btn-danger btn btn-color btn-block  buy-btn" (click)="BuyNow(item.id)">Buy Now @
                Rs. {{item.price}}</button>
            </div>
          </div>


        </ng-container>
      </div>
    </div>
  </div>
  <div class="row mobile-view m-3 ">

    <div class="accordion w-100 " id="accordionExample">
      <ng-container *ngFor="let data of categories ; index as i">
        <button *ngIf="data.enabled" class="btn btn-link btn-block text-left btn-color mb-3 "
          (click)="categoryFilter(data.id)" data-toggle="collapse" [attr.data-target]="'#collapseExample'+i">
          {{data.name}}
        </button>


        <div class="collapse" [id]="'collapseExample'+i">

          <ng-container *ngFor="let item of filteredProducts">
            <div class="col-12 mt-3 p-1" *ngIf="data.id===item.category">
              <div class="card shadow">
                <h5 class="mt-2 p-1">{{item.name}}</h5>
                <div class="prod-description">
                  <img src="{{serverUri}}{{item.imageURL}}" class="mx-auto d-block" height="100%" width="100%" alt="">
                  <div class=" card-footer custom-card-footer ">{{item.description}}

                    <button class="btn-danger btn btn-color btn-block buy-btn mt-3" (click)="BuyNow(item.id)">Buy
                      Now @
                      Rs. {{item.price}}</button>
                  </div>


                </div>



              </div>

            </div>
          </ng-container>

        </div>

      </ng-container>
    </div>
  </div>
</div>
